@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex{
    display: flex;
}

.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}

.btn-primary{
    background-color: #ff900e;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
}

.section-title{
    font-weight: 700;
    font-size: 2.8rem;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* Header Styles */
.header{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 865px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 64px;
}

.banner-description{
    font-weight: 400;
    font-size: 1rem;
}

.banner-image{
    width: 100%;
    max-height: 700px;
    margin-bottom: 45px;
}

.teams{
    align-items: center;
    gap: 70px;
}

.team-images-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features{
    max-width: 540px;
}

.feature-title{
    margin-bottom: 24px;
}

.feature-description{
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 32px;
}

#quick1{
    font-weight: 500;
}

#quick2{
    color: #ff900e;
}

@media screen and (max-width: 576px) {
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }

    .team-images-container{
        grid-template-columns: repeat(1, 1fr);
    }
}