@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Shared Styles */
.display-flex{
    display: flex;
}

.dark-1{
    color: #131313;
}

.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}

.btn-primary{
    background-color: #ff900e;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 20px 25px;
}

/* Header Styles */
.header{
    background-color: rgba(255, 144, 14, 0.1);
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner-content{
    max-width: 865px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 64px;
}

.banner-description{
    font-weight: 400;
    font-size: 16px;
}

.banner-image{
    max-height: 700px;
    margin-bottom: 45px;
}